<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infomation Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<style>
    img{
        width: 30%;
        height: 30%;
    }
</style>
<body>
    {%for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message :</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="container mt-5">
        <h2 class="text-center">User Information</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Profile Information</h5>
                        <p><strong>Role:</strong> {{ user.role }}</p>
                        <p><strong>First Name:</strong> {{ user.First_Name }}</p>
                        <p><strong>Last Name:</strong> {{ user.Last_Name }}</p>
                        <p><strong>Username:</strong> {{ user.Username }}</p>
                        <p><strong>Email:</strong> {{ user.Email_Id }}</p>
                        <p><strong>Address:</strong> {{ user.Address_Line1 }}, {{ user.City }}, {{ user.State }}, {{ user.Pincode }}</p>
                        <img src="{{ user.Profile_Picture.url }}" alt="Profile Picture" class="img-fluid"> 
                        <br>
                        <a href="/login"><button type="submit" class="btn btn-primary btn-block mt-4" onclick="return confirmlogin();">Logout</button></a>
                    </div>
                    <script type="text/javascript">
                        function confirmlogin() {
                            return confirm("Logout Successfully...!");
                        }
                    </script> 
                </div>
            </div>
        </div>
    </div>

</body>

</html>
